{% extends "base.html" %}
{% block content %}
{% load static %}

<h2>Mission </h2>
<img class="wrap_img" style="float:right;width:15%;" src="{% static 'match/robocracy.gif' %}"
alt="team logo">

<p>
Our mission is to foster local FIRST communities by providing a
platform that connects interested individuals, teams, mentors, and
outreach organizations. Using this website, individuals may find a
suitable local team, teams may recruit new members and mentors, and
charitable organiation may find teams to help them having an impact on
the local communities. 
</p>

<p>
Our goal is to develop a secure method for individuals , teams, and
organizations to connect without sharing any confidential information
until mutual consent is given. In order to guarantee the highest level
of security, we developped our platform with professional-grade
web-technology that is currently used by NASA, Instagram, and
Pinterest,
among others.
</p>

<h2>Our story </h2>

<img class="wrap_img" style="float: left;" src="{% static 'match/robocracy_2017.jpeg' %}"
alt="team image">
<p>
We are a FTC team of 10 kids from 6 school districts who all
share a mutual love for robotics and technology. We started when 5 of us
graduated from FLL and wanted to continue in FIRST programs, but couldn’t
find a team to join.  We eventually found each other through our
parents at work, but we were struck by how difficult it was to reach
out to other teams.
</p>

<p>
Now in our second year, we have decided to fix the problem that so nearly
prevented us from finding each other. We carefully designed this
platform to be both safe and functional, enabling individuals, teams,
and organizations to find and contact each other, without ever giving
away personal information until mutual consent is given. 
</p>

<p>
We hope that you will find this platform useful. Feel free to contact
us with suggestions, comments, and success stories.
</p>

<p>
Respectfully, <br>
Team Robocracy, FTC 9773.
</p>

{% endblock %}
