{% extends "base.html" %}
{% block content %}

<h2>
Programs
</h2>

<p>
FIRST<sup>&reg</sup> stands for "For Inspiration and Recognition of
Science and Technology".  It encourages school-age children to
participate in STEM programs driven by technology and a passion for
discovery.  It fosters cooperation and team building in a
nuturing competitive environment.  FIRST offers 4 different programs,
depending on a child's age an interests.  
</p>

<h3>
Junior FIRST<sup>&reg</sup> LEGO<sup>&reg</sup> League (jFLL)
</h3>

<p>
jFLL targets children in grades K-4. Kids are introduced to motorized
LEGOs and will focus on a project that will introduce them to
STEM.  A significant part of the learing will target on effectively
working in groups.
</p>

<h3>
FIRST<sup>&reg</sup> LEGO<sup>&reg</sup> League (FLL)
</h3>

<p>
FLL targets children in grades 4-8. Kids are working with LEGO
Mindstorm<sup>&reg</sup> robots built and programmed to accomplish
tasks on a 4 by 8 feet field.  Robots are purposed built, and multiple
attachements are designed to effectively perform the various
missions.  In addition, children will focus their effort on a project,
with the goal to come up with an inovative solution to real-world
issues.  Each year, there is a new broad topic, such as education,
recycling, helping elerly,...  Again, developing good working group
ethic is key to the program.  At the end of the season, teams can elect
to participate in a competition which starts at a local level and can
lead them all the way to the world chanpionship.
</p>

<h3>
FIRST<sup>&reg</sup> Tech<sup>&reg</sup> Challenge (FTC)
</h3>

<p>
FTC targets children in grades 7-12.  Kids are now building robots
using workshop tools and drawing on a nearly limitless set of
materials.  The playing fild is now 12 by 12 feet and will involve 4
robots divided in alliances of two robots each.  Good practices are
strongly encouraged, includind solid engineering
practices, reaching out to mentors and technical experts, and using STEM
while designing and building the robots.  Many teams uses CAD software
to prototype pieces in 3D printers, cut aluminium pieces on CNC
machines,...  Teams can participate to multiple tournaments, with
championship leading them all the way to the world championship.
</p>

<h3>
FIRST<sup>&reg</sup> Robotics <sup>&reg</sup> Competition (FRC)
</h3>

<p>
FRC targets high-school children with a passion for robotics. Compared
to FTC, FRC involves more robots competing in a larger field. Robots
may include pneumatic in addition to electric motors and servos. Team
are generally larger as the building season is limited in time and
thus require more hands to perform all the tasks required to build a
full scale robot.
</p>

<br>
<p> More detailed information can be found on FIRST's <a
href="https://www.firstinspires.org">web site</a>. 
</p>

{% endblock %}
