{% extends "base.html" %}
{% block content %}


{% if message %}
<h2>
{{ header }}
</h2>
<ul> {{ message }} </ul> <br>
{% endif %}

<h2>
Search
</h2>

<ul class='choices_ul'>
  {% if is_team %}
    <li class='choices_li' style="background-color:blue;">
    <a class='choices_a' href="{% url 'match:team_searching_persons' %}">Search people.</a>
    </li>
  {% endif %}
  <li class='choices_li' style="background-color:red;">
  <a class='choices_a' href="{% url 'match:person_searching_teams' %}">Search teams.</a>  
  </li>
</ul>

{% endblock %}
